# CONFIG_GCC_PLUGINS is not set

CONFIG_RUST=y
# CONFIG_WERROR is not set

CONFIG_SAMPLES=y
CONFIG_SAMPLES_RUST=y

CONFIG_SAMPLE_RUST_MINIMAL=m
CONFIG_SAMPLE_RUST_PRINT=y

CONFIG_SAMPLE_RUST_HOSTPROGS=y

RUST_PHYLIB_ABSTRACTIONS=y
AX88796B_PHY=y
AX88796B_RUST_PHY=y

CONFIG_KUNIT=y
CONFIG_RUST_KERNEL_DOCTESTS=y

# Other test suites from the `kernel` crate (i.e. `kunit_tests`, `#[test]`).
CONFIG_RUST_KUNIT_TESTS=y
CONFIG_RUST_ALLOCATOR_KUNIT_TEST=y
CONFIG_RUST_KVEC_KUNIT_TEST=y
CONFIG_RUST_BITMAP_KUNIT_TEST=y
CONFIG_RUST_KUNIT_SELFTEST=y
CONFIG_RUST_STR_KUNIT_TEST=y
CONFIG_RUST_ATOMICS_KUNIT_TEST=y
CONFIG_RUST_BITFIELD_KUNIT_TEST=y
